<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Node Auth</title>
    <style>
      button {
        padding: 10px 17px;
        margin-top: 1rem;
        font-size: 1rem;
        background: #eee;
        border: 1px solid #333;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h3>Welcome You Are Authenticated</h3>
    <img
      style="width: 200px;"
      src="https://image.shutterstock.com/image-vector/top-secret-stamp-grunge-texture-260nw-1388840021.jpg"
      alt="secret image"
    />

    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>
  </body>
</html>
