<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing | Node Auth</title>
    <style>
      .nav {
        display: flex;
      }

      .nav li {
        list-style: none;
        margin: 1rem;
      }

      .nav li a {
        color: #000;
        padding: 1rem;
        text-decoration: none;
        background: coral;
      }
    </style>
  </head>
  <body>
    <ul class="nav">
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
    </ul>
    <h3>This is the Landing Page of The Website</h3>
  </body>
</html>
